{{form_start(formVisite)}}
<div class="row">
	<div class="col">
		<div class="row">
			<div>{{ form_row(formVisite.datecreation) }}</div>
			<div>{{ form_row(formVisite.note) }}</div>
			<div>{{ form_row(formVisite.tempsmin) }}</div>
			<div>{{ form_row(formVisite.tempsmax) }}</div>
		</div>
		{{ form_row(formVisite.ville) }}
		{{ form_row(formVisite.pays) }}
		{{ form_row(formVisite.environnements) }}
	</div>
	<div class="col">
		<div>{{ form_row(formVisite.imageFile) }}</div>
		<div>Image Actuelle
			{% if visite.imageName %}
				<img src="/mesVoyages/public/images/visites/{{visite.imageName}}" class="caed-img-top" style="width: 100%; height:auto;">
			{% else %}
				<p>Aucune Image</p>
			{% endif %}

		</div>
	</div>
</div>
<div class="row">
	<div class="col">{{ form_row(formVisite.avis) }}</div>
</div>
{{form_end(formVisite)}}
